<form (ngSubmit)="salvar()" >
  <div class="form-group">
      <label for="nome">Nome</label>
      <input id="nome"
             class="form-control"
             name="nome"
             [(ngModel)]="nome">
  </div>
  <div class="form-group">
      <label for="email">E-mail</label>
      <input id="email"
             class="form-control"
             (input)="email = $event.target.value"
             [value]="email">
  </div>
  <div class="form-group" >
      <label for="tel">Telefone</label>
      <input id="tel"
             class="form-control"
             (input)="telefone = $event.target.value"
             value="{{telefone}}">
  </div>
  <div class="form-group" >
    <label for="lotacao">Lotação</label>
    <select id="lotacao" class="form-control" (input)="lotacao = $event.target.value">
        <option value="">Selecione...</option>
        <option value="1">CrossFit</option>
        <option value="2">Recepção</option>
        <option value="3">Brinquedoteca</option>
        <option value="4">Limpeza</option>
    </select>
  </div>
  <button routerLink="" type="button" class="btn btn-secondary">
    Voltar
  </button>
  <button type="submit" class="btn btn-primary">
    Salvar
  </button>
</form>
